.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border: 0.05rem solid black;
    border-radius: 50px;
    margin: 20px 0;
    padding: 0 20px;
}

.x:hover {
    color: red;
    cursor: pointer;
}
.x {
    margin-left: 60px;
}